.contactList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  max-width: 290px;
  /* transition: filter 0.2s ease; */
}

/* .contactList:hover li:not(:hover) {
  filter: blur(1px);
} */
